body {
    background-color: white;
    background-position: left;
    background-image: url("pizza.jpg");
    background-repeat: repeat-y;
    font-family: serif;
    font-style: normal;
    color: black;
}

#menuBG {
    width:400px;
    height:500px;
    margin:10px auto;
}

.title {
    font-weight: bold;
}

#frmMenu {
    width:400px;
    height:200px;
}

#totalPrice {
    width:200px;
    height:50px;
    margin:0 auto;
    float:left;
}

#showText2 {
    width:200px;
    height:200px;
    margin:0 auto;
    /*float: right;*/
    font-size: x-large;
}

.left {
    width:200px;
    height:200px;
    float:left;
}


.right {
    width:200px;
    height:200px;
    float:right;
}

#veggies {
    height: 300px;
}

#showText {
    width:200px;
    height:350px;
    margin:0px auto;
    /*float: left;*/
}

#cart {
    top:0;
    margin:0px auto;
    width:200px;
    height:200px;
}
#btnOrder {
    margin:10px 0px 0px 100px;
    width:100px;
    height:40px}

h1 style="margin:0 0px 0 20px;"